.button {
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  float: right;
}

.edit-button {
  background-color: #4caf50;
}

.delete-button {
  background-color: #f44336;
}

.archive-button {
  background-color: #2196f3;
}

.add-button {
  background-color: #ff9800;
}
