.button {
  padding: 6px 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: 25px;
  margin-top: 5px;
}

.edit-button::before {
  font: var(--fa-font-solid);
  content: '\f044';
}

.archive-button::before {
  font: var(--fa-font-solid);
  content: '\f187';
}

.delete-button::before {
  font: var(--fa-font-solid);
  content: '\f1f8';
}

.add-button {
  float: right;
  margin-top: 30px;
  margin-right: 70px;
}
